.coursebox:nth-child(even) {
    background-color: #f9f9f9;
}

.courses .ch_hidden_course {
    background: #e3e3e3;
}

.ch_hidden_course a {
    color: #53798b;
}

.ch_hidden_course li {
    color: #858484;
}

.ch_hidden_course span {
    border-color: #cacaca;
    color: #53798b;
}

.ch_hidden_course div {
    border-color: #cacaca;
    color: #53798b;
}

.ch_checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.ch_checkbox {
    width: 26px;
    height: 26px;
    position: absolute;
    user-select: none;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ch_checkbox::before {
    width: 100%;
    height: 100%;
    content: '';
    display: inline-block;
    border-radius: 0.25em;
    background: green;
}

.ch_checkbox:hover::before {
    opacity: 0.6;
}

.ch_checkbox_active.ch_checkbox::before {
    background-color: red;
}
