body {
    margin: 0;
    width: 280px;
}

.param {
    display: flex;
    gap: 12px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    width: 32px;
    height: 18px;
}

.switch input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 0;
    height: inherit;
    width: inherit;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e3e3e3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #1177d1;
}

input:checked+.slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
}
